@use 'variables' as v;

.card{
  display: flex;
  background-color: v.$tarjeta;
  width: 250px;
  height: 400px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
  margin: 15px;
  &-name{
    color: v.$texto;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    top:7px
  }
  &-circle{
    background-color: rgb(241, 251, 111);
    box-shadow: 5px 5px 10px rgba(200, 238, 162, 0.7);
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: absolute;
    top: 85px;
  }
  &-img{
    height: 200px;
    width: 200px;
    background-color: rgba(24, 112, 42, 0.333);
    position: absolute;
  }
}